*.iml
.gradle
local.properties
.idea/*
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.idea/caches/build_file_checksums.ser
.idea/caches/gradle_models.ser
.DS_Store
build
captures
app/.externalNativeBuild
app/.cxx
dump.txt
lob.txt
