<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:sharedUserId="android.uid.system"
    android:sharedUserMaxSdkVersion="33">

    <permission
        android:name="com.adam.app.permission.SECUR_SERVICE"
        android:description="@string/label_permission_description"
        android:label="@string/label_permission_label"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.adam.app.database.READ_DB"
        android:description="@string/permission_read_description"
        android:label="@string/permission_read_label"
        android:protectionLevel="normal" />
    <permission
        android:name="com.adam.app.database.WRITE_DB"
        android:description="@string/permission_write_description"
        android:label="@string/permission_read_label"
        android:protectionLevel="normal" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera2.full" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" /> <!-- Application holds CPU wakelock while working in background -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SHUTDOWN" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <!-- Request legacy Bluetooth permissions on older devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        android:minSdkVersion="30" />
    <!--
 Needed only if your app looks for Bluetooth devices.
         If your app doesn't use Bluetooth scan results to derive physical
         location information, you can strongly assert that your app
         doesn't derive physical location.
    -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <!--
 Needed only if your app makes the device discoverable to Bluetooth
         devices.
    -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <!--
 Needed only if your app communicates with already-paired Bluetooth
         devices.
    -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission
        android:name="android.hardware.usb.host"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="true" />

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:extractNativeLibs="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.DynamicColors.Light">
        <activity
            android:name=".coroutine.DemoRetrofitCoroutineAct"
            android:exported="false"
            android:label="@string/title_demo_retrofit_coroutine"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".coroutine.DemoSimpleCoroutineAct"
            android:exported="false"
            android:label="@string/title_demo_simple_coroutine"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".data_binding.WelcomeBindingAct"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".data_binding.DemoBindingAct"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".shutdown.DemoMainActivity"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".wifi2.DemoWifiAct2"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".filemanager.FileExploreAct"
            android:exported="true"
            android:label="@string/title_activity_demo_file_explore"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".xml_parser.DemoXmlParserAct"
            android:exported="true"
            android:hardwareAccelerated="false"
            android:label="@string/title_activity_demo_xml_parser"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".animation.DemoGifAct"
            android:exported="true"
            android:hardwareAccelerated="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".myHandlerThread.DemoMyHandlerThreadAct"
            android:exported="true"
            android:label="@string/title_activity_demo_my_handler_thread"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".DemoServiceAct"
            android:exported="true"
            android:label="@string/title_activity_demo_service"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".jobService.DemoJobSvrAct"
            android:exported="true"
            android:label="@string/titls_actovoty_demojobsvract"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".floatingDlg.DemoFloatingDialogAct"
            android:exported="true"
            android:label="@string/title_activity_demo_floation_dialog_activity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".floatingwindow.DemoFloatingWindowAct"
            android:exported="true"
            android:label="@string/title_activity_demo_floation_window_activity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".bluetooth.DemoBTAct"
            android:exported="true"
            android:label="@string/title_activity_demo_bt_activity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".notification.DemoNotificationAct"
            android:exported="true"
            android:label="@string/title_activity_demo_notification"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".notification.NotifyResultAct"
            android:exported="true"
            android:label="@string/title_activity_notify_result_ui"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".DemoShareProvidAct"
            android:exported="true"
            android:label="@string/title_activity_demo_share_action_provider"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".jnidemo.DemoJNIAct"
            android:exported="true"
            android:label="@string/title_activity_demo_hello_jni"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".flashlight.DemoFlashLightAct"
            android:exported="true"
            android:label="@string/title_activity_demo_flash_light"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".lockscreen.DemoDeviceAdminAct"
            android:exported="true"
            android:label="@string/title_activity_demo_device_admin"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".camera2.legacy.DemoCamera2Act"
            android:exported="true"
            android:label="@string/title_activity_demo_camera"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".camera2.DemoCamera2Act2"
            android:exported="true"
            android:label="@string/title_activity_demo_camera_2"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".alarm.DemoAlarmAct"
            android:exported="true"
            android:label="@string/title_activity_demo_alarm"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".video.DemoVideoRecordAct"
            android:exported="true"
            android:label="@string/title_activity_demo_record_video"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".binder.DemoBinderAct"
            android:exported="true"
            android:label="@string/title_activity_demo_binder_call"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".scheduler.DemoScheduleServiceAct"
            android:exported="true"
            android:label="@string/title_activity_demo_scheduler_counter"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".tablelayout.DemoTableAct"
            android:exported="true"
            android:label="@string/title_activity_demo_table_layout"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".database.DemoDatabaseAct"
            android:exported="true"
            android:label="@string/title_activity_demo_database"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".systemUI.DemoSysUIAct"
            android:exported="true"
            android:label="@string/title_activity_demo_system_ui"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".workmanager.DemoWorkMangerAct"
            android:exported="true"
            android:label="@string/title_activity_demo_work_manager"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".database2.DemoRoomAct"
            android:exported="true"
            android:label="@string/title_activity_demo_room"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".quicksetting.DemoQuickSetting"
            android:exported="true"
            android:label="@string/title_activity_demo_quick_setting"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".quicksetting.QuickSettingResultAct"
            android:exported="true"
            android:label="@string/title_activity_result_activity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".workmanager.DemoWorkManagerMainAct"
            android:exported="true"
            android:label="@string/title_activity_demo_work_manager_main"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".workmanager.DemoExecuteTaskAct"
            android:exported="true"
            android:label="@string/title_activity_execute_task_activity"
            android:parentActivityName=".workmanager.DemoWorkManagerMainAct"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".material.DemoMaterialLogInAct"
            android:exported="true"
            android:label="@string/title_activity_demo_material_log_in"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".material.Next1Activity"
            android:exported="false"
            android:label="@string/title_activity_demo_material_log_in"
            android:parentActivityName=".material.DemoMaterialLogInAct"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- Support old API: below api level 21. -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.adam.app.demoset.material.DemoMaterialLogInAct" />
        </activity>
        <activity
            android:name=".usb_storage.DemoUsbActivity"
            android:exported="true"
            android:label="@string/tile_activity_demo_usb_device"
            android:screenOrientation="nosensor" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.adam.app.demoset.filemanager.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <provider
            android:name=".database.provider.MyDBProvider"
            android:authorities="com.adam.app.demoset.provider.MyNote"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.adam.app.database.READ_DB"
            android:writePermission="com.adam.app.database.WRITE_DB" />

        <receiver
            android:name=".lockscreen.MyAdminReceiver"
            android:exported="true"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>

            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/policies" />
        </receiver>
        <receiver
            android:name=".alarm.MyAlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".floatingwindow.FloatingWindowSvr"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".LocalService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".RemoteService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />
        <service
            android:name=".SecurService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="specialUse"
            android:permission="com.adam.app.permission.SECUR_SERVICE">
            <intent-filter>
                <action android:name="com.adam.app.demo.start.secur_servcie" />
            </intent-filter>
        </service>
        <service
            android:name=".jobService.SecurJobService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" /> <!-- TileService for "Update the Tile UI" section -->
        <service
            android:name=".floatingDlg.FloatingDialogSvr"
            android:enabled="true"
            android:exported="true" /> <!-- TileService for "Launch a dialog from a tile" section -->
        <service
            android:name=".flashlight.FlashLightService"
            android:permission="android.permission.BIND_JOB_SERVICE" /> <!-- TileService for "Launch an activity from a tile" section -->
        <service
            android:name=".binder.MyAidlService"
            android:enabled="true"
            android:exported="true"
            android:process=":Remote_aidl" />
        <service
            android:name=".binder.MyMessengerService"
            android:enabled="true"
            android:exported="true"
            android:process=":Remote_messenger" />
        <service
            android:name=".quicksetting.qsservice.QuickSettingService"
            android:exported="true"
            android:icon="@drawable/ic_demo_qs1_active"
            android:label="Demo quick setting1"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".quicksetting.qsservice.QuickSettingDialogService"
            android:exported="true"
            android:icon="@drawable/ic_demo_qs2_dialog"
            android:label="Demo quick setting2"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".quicksetting.qsservice.QuickSettingIntentService"
            android:exported="true"
            android:icon="@drawable/ic_demo_qs3"
            android:label="Demo quick setting3"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
    </application>

</manifest>