<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adam.app.demoset">

    <permission
        android:name="com.adam.app.permission.SECUR_SERVICE"
        android:description="@string/label_permission_descript"
        android:label="@string/label_permission_label"
        android:protectionLevel="dangerous" />

    <permission
        android:name="com.adam.app.database.READ_DB"
        android:description="@string/permission_read_description"
        android:label="@string/permission_read_label"
        android:protectionLevel="normal">
    </permission>
    <permission
        android:name="com.adam.app.database.WRITE_DB"
        android:description="@string/permission_write_description"
        android:label="@string/permission_read_label"
        android:protectionLevel="normal">
    </permission>

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera2.full" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DemoServiceAct"
            android:label="@string/title_activity_demo_service" />
        <activity
            android:name=".jobService.DemoJobSvrAct"
            android:label="DemoJobSvrAct" />

        <service
            android:name=".LocalService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".RemoteService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />
        <service
            android:name=".SecurService"
            android:enabled="true"
            android:exported="true"
            android:permission="com.adam.app.permission.SECUR_SERVICE">
            <intent-filter>
                <action android:name="com.adam.app.demo.start.secur_servcie" />
            </intent-filter>
        </service>
        <service
            android:name=".jobService.SecurJobService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".floatingDlg.DemoFloatingDialogAct"
            android:label="Demo floation dialog activity" />

        <service
            android:name=".floatingDlg.FloatingDialogSvr"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".bluetooth.DemoBTAct"
            android:label="Demo bt activity" />
        <activity
            android:name=".notification.DemoNotificationAct"
            android:label="Demo notification" />
        <activity
            android:name=".notification.NotifyResultAct"
            android:label="Notify result UI" />
        <activity
            android:name=".DemoShareProvidAct"
            android:label="Demo share action provider" />
        <activity
            android:name=".jnidemo.DemoJNIAct"
            android:label="Demo hello jni" />
        <activity
            android:name=".flashlight.DemoFlashLightAct"
            android:label="Demo flash light" />

        <service
            android:name=".flashlight.FlashLightService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name=".lockscreen.MyAdminReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/policies" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".lockscreen.DemoDeviceAdminAct"
            android:label="Demo Device admin" />
        <activity
            android:name=".camera2.DemoCamera2Act"
            android:label="Demo Camera"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".camera2.DemoCamera2Act2"
            android:label="Demo Camera 2"
            android:screenOrientation="nosensor" />

        <receiver
            android:name=".alarm.MyAlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".alarm.DemoAlarmAct"
            android:label="Demo alarm" />
        <activity
            android:name=".video.DemoVideoRecordAct"
            android:label="Demo record video"
            android:screenOrientation="nosensor" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.adam.app.demoset.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/share_file" />
        </provider>

        <activity
            android:name=".biner.DemoBinderAct"
            android:label="Demo binder call" />

        <service
            android:name=".biner.MyAidlService"
            android:enabled="true"
            android:exported="true"
            android:process=":Remote_aidl" />
        <service
            android:name=".biner.MyMessengerService"
            android:enabled="true"
            android:exported="true"
            android:process=":Remote_messenger" />

        <activity
            android:name=".scheduler.DemoScheduleServiceAct"
            android:label="Demo scheduler counter" />
        <activity
            android:name=".tablelayout.DemoTableAct"
            android:label="Demo table layout" />
        <activity
            android:name=".database.DemoDatabaseAct"
            android:label="@string/title_activity_demo_database"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <provider
            android:authorities="com.adam.app.demoset.provider.MyNote"
            android:name="com.adam.app.demoset.database.provider.MyDBProvider"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.adam.app.database.READ_DB"
            android:writePermission="com.adam.app.database.WRITE_DB"/>
    </application>

</manifest>